<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue全局组件</title>
    
    <!-- 引入vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input v-model="inputValue"/>
        <button @click="handlerClick">提交</button>
        <hr>
        <ul>
            <!-- 调用全局组件global,将全局组件global的content与item数据绑定，index与index绑定 -->
            <global v-for="(item,index) in list" :key="index" :index="index" :content="item" ></global>
        </ul>
    </div>
    <script>
        // 定义全局组件,每一个组件都是一个vue实例
        Vue.component('global', {
            props: ['content','index'],//组件属性
            template:'<li>{{content-index}}</li>',//模板获取content-index的值
        });
        var app = new Vue({
           el:"#app",
           data:{
                list:[],
                inputValue:""
           },
           methods: {
                handlerClick:function(){
                        if(!this.inputValue){
                            alert("输入为空")
                            return;
                        }
                        this.list.push(this.inputValue);
                        this.inputValue="";
                }
           }
        });
    </script>
</body>
</html>