@import "./normalize.css";

/* :root获取根元素 html */
:root {
  /* 定义变量 */
  --color-text: #666;
  --color-high-text: #ff5777;
  --color-tint: #ff8198;
  --color-background: #fff;
  --font-size: 14px;
  --line-height: 1.5;
}

body{
  padding: 0;
  margin: 0;
}